<header id="header" class="header">
  <div class="header-page bg-primary">
    <a class="toggle-offcanvas bg-primary" (click)="toggleNav()">
      <span></span>
    </a>
    <h1 class="header-page-siteTitle">
      <a routerLink="/">Tracker v2</a>
    </h1>
    <div class="header-page-authStatus">
      <a *ngIf="!auth.loggedIn" (click)="auth.login()" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Log In</a>
      <span *ngIf="auth.loggedIn">
        {{auth.userProfile?.name}}
        <span class="opacity-half">|</span>
        <a (click)="auth.logout()" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Log Out</a>
      </span>
    </div>
  </div>

  <nav id="nav" class="nav" role="navigation">
    <ul class="nav-list">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">HOME</a>
      </li>
      <li>
        <a *ngIf="auth.loggedIn" routerLink="/view" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">View</a>
      </li>
      <li>
        <a *ngIf="auth.loggedIn" routerLink="/record" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Record</a>
      </li>
    </ul>
  </nav>
</header>